<div class="container">
  <div class="row">
    <h2>User info</h2>
    <%= form_with model: @user do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control name" %>
      </div>

      <div class="form-group">
        <%= f.label :profile_image, "Image" %>
        <%= f.file_field :profile_image, class: "form-control-file user_image", accept: "image/*" %>
      </div>

      <div class="form-group">
        <%= f.label :introduction %>
        <%= f.text_area :introduciton, class:
        
        for="inputName">Name</label>
      <%= f.text_field :name, autofocus: true, id: