<div class="container mt-3">
  <div class="row">
 
    <!-- 左側 -->
    <div class="col-md-3">
      <%= render 'books/user_info', user: current_user if current_user.present? %>
      <%= render 'books/new_book', book: Book.new %>
    </div>

      <!-- 右側 -->
      <div class="col-md-8 offset-md-1">
        <h2>Users</h2>

        <table class="table">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th colspan="3"></th>
           </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <% if user.profile_image.attached? %>
                    <%= image_tag user.profile_image.variant(resize_to_fill: [50,50]), class: "rounded-circle me-2" %>
                  <% else %>
                    <%= image_tag "no_image.jpg", class: "rounded-circle me-2" %>
                  <% end %>
                </td>
                <td>
                  <%= user.name %>
                </td>
                <td>
                  <%= link_to "Show", user_path(user) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>